appnope==0.1.4
asttokens==3.0.0
av==13.1.0
beautifulsoup4==4.13.4
click==8.1.8
cloup==3.0.7
comm==0.2.2
cython==3.0.12
debugpy==1.8.14
decorator==5.2.1
executing==2.2.0
glcontext==3.0.0
ipykernel==6.29.5
ipython-pygments-lexers==1.1.1
ipywidgets==8.1.7
isosurfaces==0.1.2
jedi==0.19.2
jupyter-client==8.6.3
jupyter-core==5.7.2
jupyterlab-widgets==3.0.15
manim==0.19.0
manimpango==0.6.0
mapbox-earcut==1.0.3
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
mdurl==0.1.2
moderngl==5.12.0
moderngl-window==3.1.1
nest-asyncio==1.6.0
networkx==3.4.2
numpy==2.2.5
packaging==25.0
parso==0.8.4
pexpect==4.9.0
pillow==11.2.1
platformdirs==4.3.7
prompt-toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure-eval==0.2.3
pycairo==1.28.0
pydub==0.25.1
pyglet==2.1.6
pyglm==2.8.2
pygments==2.19.1
pyobjc-core==11.0
pyobjc-framework-cocoa==11.0
python-dateutil==2.9.0.post0
pyzmq==26.4.0
rich==14.0.0
scipy==1.15.2
screeninfo==0.8.1
six==1.17.0
skia-pathops==0.8.0.post2
soupsieve==2.7
srt==3.5.3
stack-data==0.6.3
svgelements==1.9.6
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typing-extensions==4.13.2
watchdog==6.0.0
wcwidth==0.2.13
widgetsnbextension==4.0.14
